@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    font-family:  'Courier New', Courier, monospace;
}
body {
    background-color: #E0DFDF;
    color: #f9fafb;
}

/* --- 4. CLASES DE UTILIDAD --- */

/* Puedes a침adir esto a cualquier <h1> o <h2> para centrarlo */
.text-center {
    text-align: center;
}

/* PRUEBA: A침ade esta clase a tus botones para darles estilo r치pido */
.btn-primary {
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: transform 0.1s; /* Animaci칩n suave al pulsar */
}
.btn-primary:active {
    transform: scale(0.95); /* Efecto de "apretar" */
}
.M2grid {
    display: grid;
    /* 8 columnas iguales */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
    padding: 2rem;
    max-width: 1200px;
    margin: 80px auto;
    height: 100%;
}

.area-logs {
    grid-column: 1 / 4 ;
    grid-row: 1 / 4;
}


.area-orders {
    grid-column: 1 / 4;
    grid-row: 4 / -1;
}

.area-charts{
    grid-column: 4 / -1;
    grid-row:1/-1;
}

