@import "tailwindcss";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body{
    font-family:  'Courier New', Courier, monospace;
}
body {
    background-color: #E0DFDF;
    color: #f9fafb;
    /* OPCIÓN C: Gradiente*/
    /*background: linear-gradient(to right, #ec481b, #4a00e0);/*/
    /* color: white; */
}

/* --- 4. CLASES DE UTILIDAD --- */

/* Puedes añadir esto a cualquier <h1> o <h2> para centrarlo */
.text-center {
    text-align: center;
}

/* PRUEBA: Añade esta clase a tus botones para darles estilo rápido */
.btn-primary {
    background-color: #3b82f6;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: transform 0.1s; /* Animación suave al pulsar */
}
.btn-primary:active {
    transform: scale(0.95); /* Efecto de "apretar" */
}
.M2grid {
    display: grid;
    /* 8 columnas iguales */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    padding: 2rem;
    max-width: 1200px;
    margin: 80px auto;
}

.area-izq {
    dispaly: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}
.area-logs {
    grid-column: 1 / 4 ;
}


.area-orders {
    grid-column: 1 / 4;
}

.area-charts{
    grid-column: 4 / -1;
    grid-row: 1 / 3 ;
}

