---
import Basecard from '../components/Basecard.svelte';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>INTERFAZ P1</title>
	</head>
	<body>
		<h1>INTERFAZ P1</h1>

		<Basecard >
		<p> hola <p/>
		<Basecard />

		<Basecard>
		<p>aaaaaaaaacd <p/>
		<Basecard/>

	</body>

</html>


