---
import Basecard from '../components/Basecard.svelte';
import Grafica from '../components/Grafica.svelte';
import Logs from '../components/Logs.svelte';
import Ordenes from '../components/Ordenes.svelte';
import Layout from '../layouts/layout.astro';

---

<Layout>

	<div class="M2grid">

		<div class=area-logs>
		<Logs client:idle>
		<p> LOGS <p/>
		</Logs>
		</div>

		<div class=area-orders>
		<Ordenes client:idle>
		<p> ORDENES <p/>
		</Ordenes>
		</div>

		<div class="area-charts">
		<Basecard client:idle>
		<Grafica client:idle>
		<p> GRAF 1 <p/>
		</Grafica>
		<Grafica client:idle>
		<p> GRAF 2 <p/>
		</Grafica>
		<Grafica client:idle>
		<p> GRAF 3 <p/>
		</Grafica>
		</Basecard>

		</div>
	</div>
</Layout>



