---
import Basecard from '../components/Basecard.svelte';
import Grafica1 from '../components/Grafica1.svelte';
import Grafica2 from '../components/Grafica2.svelte';
import Grafica3 from '../components/Grafica3.svelte';
import Logs from '../components/Logs.svelte';
import Ordenes from '../components/Ordenes.svelte';
import Layout from '../layouts/layout.astro';

---

<Layout>

	<div class="M2grid">

		<div class=area-logs>
		<Logs client:idle>
		<p> LOGS <p/>
		</Logs>
		</div>

		<div class=area-orders>
		<Ordenes client:idle>
		<p> ORDENES <p/>
		</Ordenes>
		</div>

		<div class="area-charts">
		<Basecard client:idle>
		<Grafica1 client:idle>
		<p> GRAF 1 <p/>
		</Grafica1>
		<Grafica2 client:idle>
		<p> GRAF 2 <p/>
		</Grafica2>
		<Grafica3 client:idle>
		<p> GRAF 3 <p/>
		</Grafica3>
		</Basecard>

		</div>
	</div>
</Layout>



