---
import Basecard from '../components/Basecard.svelte';
import Grafica from '../components/Grafica.svelte';
import Layout from '../layouts/layout.astro';

---

<Layout>
	<div class="M2grid">		
		<Basecard client:idle>
		<p> hola <p/>
		</Basecard>
		<Basecard client:idle>
		<p>aaaaaaaaacd <p/>
		</Basecard>

		<div class="area-charts">
		<Grafica client:idle>
		<p> Datos1 <p/>
		</Grafica>
		</div>
	</div>
</Layout>



